<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Forgot Password</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon_io/favicon-16x16.png">
</head>

<body>
    <div class="programWrapper">
        <h2>Enter your email</h2>
        <form id="email-form" method="post">
            <label for="code-input">Email:</label><br>
            <input id="email-input" name="email" required><br><br>
            <button id="submit-email" type="submit">Enter</button>
        </form>
    </div>
</body>

</html>