<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 'public': (65537, 260950584361), 'private': (197480938246, 260950584361) -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Signup</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon_io/favicon-16x16.png">
    <!--<script> 
        var e = "{{ e }}";
        var n = "{{ n }}";
        console.log(e);
        console.log(n);
    </script>-->
    <!--<script src="communication.js?v={{cache_buster}}"></script>-->
    <script src="/static/js/loginPage.js?v={{ cache_buster }}"></script>
    <script src="/static/js/comon.js?v={{ cache_buster }}"></script>

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/static/css/styles.css?v={{cache_buster}}" />
</head>

<body>
    <header>
        <!-- Top Navigation Menu -->
        <div class="topnav">
            <a href="home" class="logo active"><img src="/static/images/stega2.png" alt="Stega Logo"></a>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="home">Home</a>
                <a href="plans">Plans</a>
                <a href="about">About</a>
                <a href="how-to-use">How to use</a>
            </div>
        </div>
    </header>
    <div class="spacer"></div>

    <main>
        <!-- Login Form -->
        <div id="login-form" class="programWrapper">
            <h1>Login</h1>
            <form onsubmit="handleFormSubmit(event)" method="post">
                <input type="hidden" name="form-type" value="login">
                <label for="login-username">Email</label>
                <input type="text" id="login-username" name="username" required>
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="password" maxlength="20" required>
                <p id="login-wrong-info" class="error-message hidden">Incorrect username or password</p>

                <button type="submit">Login</button>
                <!--<a href="/forgot-password">Forgot password?</a>-->
            </form>
            <button onclick="switchForm('signup')">Don't have an account?</button>
        </div>

        <!-- Signup Form -->
        <div id="signup-form" class="programWrapper hidden">
            <h1>Signup</h1>
            <form onsubmit="handleFormSubmit(event)" method="post">
                <input type="hidden" name="form-type" value="signup">
                <label for="signup-username">Email</label>
                <input type="text" id="signup-username" name="username" required>
                <label for="signup-password">Password</label>
                <input type="password" id="signup-password" name="password" maxlength="20" required>
                <label for="signup-confirm-password">Confirm Password</label>
                <input type="password" id="signup-confirm-password" name="confirm-password" maxlength="20" required>
                <div id="signup-error-messages-div error-message">
                    <p id="signup-wrong-info" class="signup-error-message hidden">Incorrect username or password</p>
                    <p id="signup-error-1" class="signup-error-message hidden">* Password must be between 8-20 characters long</p>
                    <p id="signup-error-2" class="signup-error-message hidden">* Password must include at least one lowercase letter</p>
                    <p id="signup-error-3" class="signup-error-message hidden">* Password must include at least one uppercase letter</p>
                    <p id="signup-error-4" class="signup-error-message hidden">* Password must start with a letter</p>
                    <p id="signup-error-5" class="signup-error-message hidden">* Password must include at least one digit</p>
                    <p id="signup-error-6" class="signup-error-message hidden">* Password must include at least one special character: <span>~!@#$%^&*()[]{}|/\-+_=:;<>,.?</span></p>
                    <p id="signup-error-7" class="signup-error-message hidden">* Password must not include any other characters</p>
                </div>

                <!-- Nope lol -->
                <div id="login-denied" class="hidden"></div>
                <button type="submit">Sign up</button>
            </form>
            <button onclick="switchForm('login')">Already have an account?</button>
        </div>


        <div id="loader-container">
            <div class="loader-background"></div>
            <span class="loader"></span>
        </div>

    </main>
</body>

</html>